html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  width: 100%;
  font-weight: normal;
}

header {
  font-family: "PT Sans", sans-serif;
  font-size: .8rem;
  line-height: 1;
  color: #222;
}
